@charset "UTF-8";
/* CSS Document */

.width {
	margin:inherit;
	overflow-x: hidden;
	max-width: 100%;
	position: relative;
}

.color {
	background-color:mintcream;
}

.img {
	height:auto;
	width:100%;
}

.center {
	display:flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.padding {
	padding-top:10px;
	padding-bottom:10px;
}

.padleft {
	padding-left: 10px;
}

.padright {
	padding-right: 35px;
}

.padtop {
	padding-top:30px;
}

.smallpadtop {
	padding-top:5px;
}

.div {
	padding-top: 8px;
	padding-bottom: 0px;
	width: 100%;
	height:35px;
	color: #ffffff;
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	font-size: .85em;
}

.div2 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:5px;
	padding-right:5px;
	width:100%;
	min-height: 40px;
	background-color:#007236;
	color:#ffffff;
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	font-size:.85em;
	text-align: center;
}

.div:hover {
	background-color:#007236;
}

.header {
	display:flex;
	justify-content: flex-start;
	background-color: #00A850;
}

.logo {
	padding-top:8px;
}

.header2 {
	display:flex;
	justify-content: space-around;
}

.title {
	color: #00AA50;
}

.copytext{
	color: #A8A8A8;
	text-align: left;
}

.caption {
	color: #00AA50;
	font-size: .8 em;
}

.cta {
	padding-top: 10px;
	width:175px;
	height:40px;
	color: #000;
	background-color: #FFDA5C;
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	font-size: .85em;
	position: relative;
	text-align: center;
}

.cta:hover {
	background-color: #BC9F3C;

}

.padbot {
	height: 100px;
}

.divactive {
	padding-top: 8px;
	padding-bottom: 0px;
	width: 100%;
	height:35px;
	color: #ffffff;
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	font-size: .85em;
	background-color:#007236;
}

.header3{
	display:flex;
	justify-content: flex-end;
}

.footer {
	justify-content: space-around;
	background-color: #00A850;
	color:white;
}

.div5 {
		padding-top: 8px;
		padding-bottom: 0px;
		width: 100%;
		height:35px;
		color: #ffffff;
		border-radius: 30px 30px 30px 30px;
		margin-top: 10px;
		font-size: .85em;
}

.div5:hover {
	background-color: #007236;
}

.div5active {
	padding-top: 8px;
	padding-bottom: 0px;
	width: 100%;
	height:35px;
	color: #ffffff;
	border-radius: 30px 30px 30px 30px;
	margin-top: 10px;
	font-size: .85em;
	background-color:#007236;
}

.logo2 {
	padding-top: 8px;
}

.header4 {
	background-color: #00A850;
}

.login {
		padding-top: 8px;
		padding-bottom: 0px;
		width: 60%;
		height:35px;
		color: #000000;
		border-radius: 30px 30px 30px 30px;
		margin-top: 10px;
		font-size: .85em;
		background-color: #FFDA5C;
}

.hamburger {
	display:none;
}

input {
	width: 100%;
	border-radius: 15px 15px 15px 15px
}

form {
	color: #00A850;
	font-size: .85em;
}

.marginbot {
	margin-bottom: 10px;
}

@media only screen and (max-width: 650px){
	.col-2 {
		-ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}

	.float-right {
		float:none;
	}

	.login {
			width: 100%;
	}

	.hamburger {
		display:inline;
	}

	.div2 {
		width: 100%;
	}

	.col-3 {
		-ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}

	.data {
		display: none;
	}

	.ham {
		display:inherit;
	}
}
